.App {
  text-align: center;
  background-color:White;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-header {
  font-family: sans-serif;
  font-size: 10px;
}

